body {
   font-family: 'Baloo Chettan 2', cursive;
   font-size: 20px;
}

h1, h2 {
 text-align: center;   
}

h1 {
    /* font-family: "Lobster Two"; */
    font-size: 40px;
    text-decoration: underline;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
