/* html {
    background-color: #1A1516;
    color: #BFA1A8;
} */
body {
   font-family: 'Baloo Chettan 2', cursive;
   font-size: 20px;
}

h1, h2 {
 text-align: center;   
}

h1 {
    /* font-family: "Lobster Two"; */
    font-size: 40px;
    text-decoration: underline;
}

li {
    font-size: 18px;
}

a {

}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.lab-link, .assns, .project {
    /* border-color: #AB2346; */
    border-color: teal;
    border-radius: 10px;
    border-style: dotted;
    margin: 1em;
    padding: 0.75em;
}

/* .lab-link {
    display: flex;
    ;
} */
